@media screen and (max-width: 480px) {
    .line::before{
        left: 80%;
        right: 5%;
    }
    
    .line::after{
        left: 5%;
        right: 80%;
    } 
}

@media screen and (min-width: 481px) {
    .line::before{
        left: 60%;
        right: 20%;
    }
    
    .line::after{
        left: 20%;
        right: 60%;
    } 
}

.contacts-container{
    text-align: center;
    padding-top: 15px;
}

.contacts-title{
    color: rosybrown;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    display: block;
}

.time-work{
    position: relative;
}

.line::before{
    content: '';
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: rgb(243, 99, 214);
}

.line::after{
    content: '';
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: rgb(243, 99, 214);
}

.contacts-adress-list{
    list-style: none;
}

.contacts-adress-list-item a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.delivery-list{
    list-style: circle;
    list-style-position: inside;
}

.delivey-item {
    margin-top: 10px;
}


