.comment-cards{
    height: 440px;
    display: flex;
}
.comment-card-item{
    list-style: none;
    width: 270px;

    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    padding: 120px 24px 24px 24px;
    margin-right: 30px;
}
.comment-card-item:last-child{
    margin-right: 0px;
}

.comment-card-logo{
    width: 90px;
    height: 90px;
    background-color: rgb(181, 115, 243);
    position: absolute;
    top: -40px;
    left: 25px;
    border-radius: 50%;
}

.comment-card-name{
    color: #2B2B2B;
    font-size: 24px;
    font-weight: 500;
}

.comment-card-old{
    color: #999999;
    font-size: 14px;
}

.comment-card-text{
    color: #575757;
    font-size: 16px;
}