@media screen and (max-width: 480px) {
    .adress-list{
        display: block;
    }

    .adress-img{
        width: 360px;
        height: 460px;
    }

    .adress-title{
        font-size: 28px;
    }
}

@media screen and (min-width: 481px) {
    .adress-list{
        display: flex;
        justify-content: center;
    }

    .adress-img{
        width: 360px;
        height: 520px;
    }

    .adress-title{
        font-size: 36px;
    }
}

.adress-title{
    text-align: center;
    color: rgb(238, 73, 137);
    font-family: 'Marck Script', cursive;
    padding: 0px 15px;
}

.adress-list{
    list-style: none;
}

.adress-item{
    margin-right: 10px;
}
.adress-item:last-child(){
    margin-right: 0;
}

.adress-item a{
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #575757;
}

.adress-item p{
    font-family: 'Marck Script', cursive;
}


.adress-img{
    display: block;
    border-radius: 10px;
}

