@media screen and (max-width: 480px) {
  .hero_title{
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .swiper-swets-container {
    height: 40vh;
  }

  .hero_title-text{
    font-size: 18px;
    font-weight: 500;
  }

  .hero_title-but{
    width: 75px;
    height: 20px;
    font-size: 12px;
    padding: 2px 5px;

  }
}

@media screen and (min-width: 481px) {
  .hero_title{
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .swiper-swets-container {
    height: 60vh;
  }
  .hero_title-text{
    font-size: 30px;
    font-weight: 700;
  }

  .hero_title-but{
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}

.swiper-swets-container{
  background-size: cover;
  background-repeat: no-repeat;
}

.cake{
  background-image: url("../../../image/cake-min.jpeg");
}

.macaruns{
  background-image: url("../../../image/food-macaron-colors-sweets-891789-min.jpeg");
}
.ecllers {
  background-image: url("../../../image/eklers-min.jpeg");
}

.muscat{
  background-image: url("../../../image/muscat.jpeg");
}


.hero_title{
  text-align: center;
  align-items: center;
}

.hero_title-text{
  font-family: 'Sansita Swashed', cursive;
  display: block;
  margin-top: 0;
  color: white;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  }

.hero_title-but{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-decoration: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(243, 99, 214);
  transition: all 250ms linear;
  text-transform: uppercase;
}

.hero_title-but:hover{
  background-color: transparent;
  border: 1px solid aliceblue;
  border-radius: 10px;
}