.cards-continer{
    display: block;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.cards{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
    position: relative;
}

.cards-item{
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 300ms linear;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.cards-item:nth-child(3n){
    margin-right: 0;
}

.cards-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.cards-img{
    height: 300px;
    width: 100%;
    background-color: grey;
    padding-top: 200px;
    color: aliceblue;
    text-align: center;
}

.cards-title{
    color: brown;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

.cards-price{
    text-align: center;
    color: red;
}

.cards-text{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(184, 56, 56, 0.5);
    color: white;
    padding: 25px;
    transform: translateX(150%);
    transition: transform 0.3s ease;
}

.cards-item:hover{
    scale: 1.05;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.5),
      0px 2px 2px rgba(0, 0, 0, 0.32);
}

.cards-item:hover .cards-text{
    top: 0;
    scale: 1.1;
    transform: translateX(0%);
}