@media screen and (max-width: 480px) {
    .titlePage{
        height: 100px;
    }
}

@media screen and (min-width: 481px) {
    .titlePage{
        height: 250px;
    }
}

.titlePage{
    background-image: url("../../../image/CakePageTitle-min.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: 0.5;
}

.pageTitle {
    margin-top: 0;
    text-align: center;
    padding-top: 60px;
    color: black;
}

